@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&family=Oxanium:wght@400;600;700;800&display=swap');
@import 'utilities.css';

/* =========== Base Css ========== */

:root {
  --primary: rgb(29, 221, 189);
  --bgDark: rgb(12, 12, 12);
  --white: rgb(250, 250, 250);
  --secondary: rgb(0, 59, 50);
  --bgLight: rgb(190, 181, 181);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
}

li {
  list-style-type: none;
}

/* spacing on all sections */
#about,
#skills,
#portfolio,
#contact {
  margin-top: 4rem;
  padding-top: 4rem;
}

#contact {
  padding-bottom: 4rem;
}

/*========== Hero ========*/

header {
  background-color: var(--bgDark);
  clip-path: polygon(0 0, 100% 0, 100% 100%, 73% 94%, 0 100%);
}

header nav .left a {
  color: var(--white);
  text-decoration: none;
  margin-right: 2rem;
  text-transform: uppercase;
  transition: all .2s ease;
}

header nav .left a:hover {
  color: var(--primary);
}

header nav {
  padding: 2rem 0;
}

header nav .logo {
  margin-right: 3rem;
}

body {
  font-family: 'Poppins', sans-serif;
}

.container {
  max-width: 1152px;
  padding: 0 15px;
  margin: 0 auto;
}

.hero {
  padding-top: 2rem;
  padding-bottom: 3rem;
}

.hero .left img {
  width: 400px;
}

.hero .right {
  color: var(--white);
  margin-top: -7rem;
}

.hero .right h6 {
  font-size: 1.6rem;
  color: var(--primary);
  margin-bottom: 0.5rem;
}

.hero .right h1 {
  font-size: 4rem;
  font-weight: 100;
  line-height: 1.2;
  margin-bottom: 2rem;
}

.hero .right h1 span {
  color: var(--primary);
}

.hero .right p {
  line-height: 1.9;
  margin-bottom: 2rem;
}

.flex {
  display: flex;
}

.items-centre {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.justify-right {
  justify-content: right;
}

.btn {
  padding: 0.6rem 2rem;
  font-size: 1rem;
  font-weight: 600;
  border: 2px solid transparent;
  outline: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .2s ease;
}

.btn-primary {
  background-color: var(--primary);
  color: var(--secondary);
  margin-top: -15rem;
}


.btn-primary:hover {
  background: transparent;
  border-color: var(--primary);
  color: var(--primary);
}

.flex-1 {
  flex: 1;
}

.btn-secondary {
  background: transparent;
  color: var(--primary);
  border-color: var(--primary);
}

.btn-secondary a {
  color: var(--primary);
}

.btn-secondary a:hover {
  color: var(--secondary);
  text-decoration: none;
}

.btn-secondary:hover {
  background: var(--primary);
  color: var(--secondary);
}

/* hero background image */
.bgimage {
  height: 100vh;
  background: url('images/hero.jpg');
  background-size: cover;
  position: relative;
}

/* text css above hero image*/
.hero_title {
  font-size: 4.5rem;
}

.hero_desc {
  font-size: 2rem;
}

.hero-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}

/*============= About section =============*/
section {
  padding: 6rem;
}

section.about h1 {
  margin-bottom: 1rem;
  font-size: 1.6rem;
  font-weight: 600;
}

section.about h1 span {
  color: var(--primary);
}

section.about h3 {
  font-size: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

section.about p {
  font-family: 'Lato', sans-serif;
  color: var(--secondary);
  line-height: 1.9rem;
  margin-bottom: 2rem;
}

section.about .socials {
  display: flex;
}

section.about .socials a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 35px;
  margin-right: 0.8rem;
  border-radius: 50%;
}

section.about .socials a:hover {
  background: var(--primary);
}

.section-title {
  letter-spacing: 5px;
}

/* about section image css */
.imageAboutPage {
  width: 100%;
}

/* skills section css */
.skillsText.card {
  height: 280px;
  cursor: pointer;
}

.skillsIcon {
  font-size: 36px;
  text-align: center;
  width: 100%;
}

.card-title {
  text-align: center;
}

.card:hover .skillsIcon {
  color: #008000;
}

.skillsText:hover {
  border: 1px solid #008000;
}

/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
  background-color: black;
}

/* social media icons styling */
.social-icons {
  font-size: 36px;
  cursor: pointer;
}

.fa-facebook:hover,
.fa-instagram:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-twitch:hover {
  color: var(--primary);
}

.fab {
  color: #000000;
}

/* footer styling */
#footer {
  background-color: #808080;
  text-align: center;
}